/* Overide the bootstrap settings since we are using a different dir structure */
[class^="icon-"], [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings.png");

    &.icon-white {
        background-image: url("../images/glyphicons-halflings-white.png");
    }
}

body {
    padding: 16px;
}

.loaddata, .results {
    display: none;
}

#uploadcsv {
    width: 65%;
    display: inline-block;
    padding: 2em 0;
    margin: 0;
    border: 5px dashed rgba(82, 82, 82, 0.5);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: border 0.3s linear;
       -moz-transition: border 0.3s linear;
         -o-transition: border 0.3s linear;
            transition: border 0.3s linear;
    cursor: pointer;

    &.readytodrop {
        border-color: rgba(82, 82, 82, 1);
    }

    p {
        pointer-events: none;
        margin-bottom: 0;
        text-align: center;
    }
    .subline {
        color: rgb(126, 126, 126);
    }
}

#sampledata {
    vertical-align: text-bottom;
    max-width: 33%
}

#routes {
    tbody tr {
        display: none;
        &.visible {
            display: table-row;
        }
        &.alt {
            background-color: #FFFFFF;
        }
        &:hover {
            background-color: #FCF8E3;
        }
    }
}

label {
    display: inline;
    position: relative;

    input[type="text"] {
        margin-bottom: 0;
        min-width: 220px;
    }

    span {
        position: absolute;
        top: 0;
        right: 0.5em;
        background-color: #949494;
        opacity: 0.5;
        border-radius: 1em;
        padding: 0.1em 0.6em;
        -webkit-transition: opacity 0.3s linear;
           -moz-transition: opacity 0.3s linear;
             -o-transition: opacity 0.3s linear;
                transition: opacity 0.3s linear;

        &:hover {
            opacity: 1;
        }
    }
}
